# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [23]:
import pandas as pd

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [41]:
df = pd.merge(pd.read_csv('Data/Students_info_0.csv'), pd.read_csv('Data/Students_marks_0.csv'))
for i in range(1, 10):
    df = pd.concat([df, pd.merge(pd.read_csv(f'Data/Students_info_{i}.csv'), pd.read_csv(f'Data/Students_marks_{i}.csv'))])
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [42]:
df = df[df.columns.drop('index')]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [45]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [46]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [49]:
#df.isnull().any()
#df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 78.1+ KB

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [51]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [53]:
df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [54]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [55]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)
# параметр inplace указывает на то, что изменения нужно сделать в исходной таблице

/tmp/ipykernel_20473/3142802895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

In [56]:
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [57]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [61]:
statDataFrame = pd.DataFrame()
statDataFrame['PassedMath'] = df['math score'] >= passmark
statDataFrame['Preparation&PassedMath'] = (df['math score'] >= passmark) & (df['test preparation'] == 'completed')
statDataFrame['Women&NotPreparation&NotPassedMath'] = (df['math score'] < passmark) & (df['test preparation'] == 'none') & (df['gender'] == "female")
statDataFrame.mean()

PassedMath                            0.865
Preparation&PassedMath                0.330
Women&NotPreparation&NotPassedMath    0.070
dtype: float64

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [68]:
import time
start_time = time.time()
print(df.groupby('race/ethnicity')['reading score'].mean())
print("-----------------------------------------------")
print(df.groupby('education')['writing score'].min())
print("--- %s seconds ---" % (time.time() - start_time))

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
-----------------------------------------------
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
--- 0.0057408809661865234 seconds ---

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [69]:
import time

# Средний балл по чтению для каждой этнической группы
start_time = time.time()
reading_scores = {}
for group in df['race/ethnicity'].unique():
    reading_scores[group] = df[df['race/ethnicity'] == group]['reading score'].mean()
print(reading_scores)

print("-----------------------------------------------")

# Минимальный балл по письму для каждого уровня образования
writing_scores = {}
for level in df['education'].unique():
    writing_scores[level] = df[df['education'] == level]['writing score'].min()
print(writing_scores)

print("--- %s seconds ---" % (time.time() - start_time))

{'group B': np.float64(67.35263157894737), 'group C': np.float64(69.10344827586206), 'group A': np.float64(64.67415730337079), 'group D': np.float64(70.03053435114504), 'group E': np.float64(73.02857142857142)}
-----------------------------------------------
{"bachelor's degree": np.int64(38), 'some college': np.int64(19), "master's degree": np.int64(46), "associate's degree": np.int64(35), 'high school': np.int64(15), 'some high school': np.int64(10)}
--- 0.014947175979614258 seconds ---

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [75]:
result = pd.pivot_table(data=df,index=["gender", "education"], values=['math score', 'reading score', 'writing score'], aggfunc="mean") 
# aggfunc по умолчанию - mean
result

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [79]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')

In [80]:
df['Math_PassStatus'].value_counts()

Math_PassStatus
P    865
F    135
Name: count, dtype: int64

In [81]:
df['Reading_PassStatus'].value_counts()

Reading_PassStatus
P    910
F     90
Name: count, dtype: int64

In [82]:
df['Writing_PassStatus'].value_counts()

Writing_PassStatus
P    886
F    114
Name: count, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [87]:
df['OverAll_PassStatus'] = df.apply(lambda x: 'P' if x['math score'] >= passmark and x['reading score'] >= passmark and x['writing score'] >= passmark else 'F', axis=1)
df['OverAll_PassStatus'].value_counts()

OverAll_PassStatus
P    812
F    188
Name: count, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [89]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    if average_mark >= 80:
        return 'B'
    if average_mark >= 70:
        return 'C'
    if average_mark >= 60:
        return 'D'
    if average_mark >= 50:
        return 'E'
    return 'F'

df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis=1).apply(GetGrade)
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
96,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
97,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
98,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
99,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B